# Maven
target/
*.jar
*.war
*.ear

# IDEs
.idea/
*.iml
.vscode/
*.classpath
*.project
*.settings/
.settings

# Compiled files & Logs
*.class
*.log
bin/

# OS files
.DS_Store
Thumbs.db

# Crash logs
hs_err_pid*
replay_pid*

# Ignore all user data JSON files specifically
user_data_*.json
